.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product {
    width: 200px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .product-image {
    width: 100%;
    height: auto;
  }

  /*  */

  .categories {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
  }
  
  .categories ul {
    list-style: none;
    padding: 0;
  }
  
  .categories li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .categories li:last-child {
    border-bottom: none;
  }
  